Checks: >
  bugprone-*,
  -bugprone-narrowing-conversions,
  llvm-namespace-comment,
  misc-definitions-in-headers,
  misc-redundant-expression,
  modernize-use-nullptr,
  modernize-avoid-c-arrays,
  modernize-loop-convert,
  modernize-pass-by-value,
  performance-for-range-copy,
  performance-inefficient-algorithm,
  readability-misleading-indentation,
  cppcoreguidlines-macro-usage,
  google-readability-casting

WarningsAsErrors: ''

HeaderFilterRegex: 'simple_vm/.*'
