name: CMake Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ clang-tidy

      - name: Clean previous build (important)
        run: |
          rm -rf build_pooled_list_allocator
          mkdir -p build_pooled_list_allocator

      - name: Configure CMake
        run: |
          cmake -S pooled_list_allocator -B build_pooled_list_allocator \
          -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Build project
        run: cmake --build build_pooled_list_allocator -- -j$(nproc)
